[user]
  name = {{ .Name }}
  email = {{ .WorkEmail }}
[includeIf "gitdir:~/wsl/"]
  path = ~/wsl/.gitconfig
[includeIf "gitdir:~/personal/"]
  path = ~/personal/.gitconfig
[core]
    editor = vi
    excludesfile = ~/.gitignore_global
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
    syntax-theme = Dracula
    navigate = true
